.form {

    background-color: rgb(252, 170, 4);
    font-size: 30px;
    color: white;

}

.form h2 {
    margin-left: 600px;
    font-size: 35px;
}

#name {
    margin-left: 500px;
    padding-right: 130px;
}

#f-name {
    margin-left: 417px;
    padding-right: 130px;
}

#DOB {
    margin-left: 512px;
    padding-right: 130px;
}

#sex {
    margin-left: 535px;
}

#EmailId {
    margin-left: 480px;
    padding-right: 130px;

}

.course {
    margin-left: 500px;
    font-size: 30px;
}

.add {
    margin-top: 50px;
}

.Address {
    margin-left: 350px;
    padding-right: 130px;
    margin-bottom: 30px;
}

.city {
    margin-left: 535px;
    font-size: 30px;
}

#District {
    margin-left: 500px;
    font-size: 30px;
}

#State {
    margin-left: 530px;
    font-size: 30px;
}

.PinCode {
    margin-left: 492px;
    padding-right: 130px;
}

.mobile {
    margin-left: 472px;
    padding-right: 130px;
}


.submit {
    display: flex;
    gap: 520px;
}

.submit button {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    border-radius: 5px;
}